# don't show warnings if package versions don't match
strict-peer-dependencies=false
auto-install-peers=true

# @vortexnyc packages (vortex-auth) are published to GitHub Packages.
@vortexnyc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
