openapi: 3.1.0
info:
  title: Seal API
  description: >
    Agent-native Seal REST API. Everything the product can do for signing
    workflows is reachable here — documents, recipients, templates, signatures,
    contacts, webhooks, members, settings, search, analytics, audit, and API
    tokens. MCP, CLI, and the SDK are thin clients over this surface. Authenticate
    with a `seal_…` API key (Bearer) from Settings → Developer → API Keys.
  version: 1.0.0
  contact:
    name: Seal Support
    url: https://seal.nyc

servers:
  - url: https://api.seal.nyc/api/v1
    description: Production

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >
        Pass your API key as a Bearer token. API keys are scoped to specific
        operations — configure scopes in your organization's Settings → Developer
        → API Keys.

  schemas:
    DocumentStatus:
      type: string
      enum: [draft, sent, in_progress, completed, cancelled, declined]
      description: Current workflow status of a document

    RecipientRole:
      type: string
      enum: [signer, approver, viewer]
      description: |
        - `signer` — must provide a signature to complete the document
        - `approver` — must click Approve; no signature drawn
        - `viewer` — receives a copy but has no action required

    RecipientStatus:
      type: string
      enum: [pending, viewed, signed, approved, declined]

    TemplateStatus:
      type: string
      enum: [active, archived]

    SignatureMethod:
      type: string
      enum: [draw, type, upload]

    FieldType:
      type: string
      enum:
        [
          signature,
          free_signature,
          initials,
          name,
          email,
          text,
          number,
          date,
          date_signed,
          checkbox,
          radio,
          dropdown,
          multi_select,
          attachment,
          image,
          payment,
          phone,
          cells,
          stamp,
          heading,
          strikethrough,
          verification,
          kba,
        ]

    Document:
      type: object
      required:
        [
          id,
          title,
          status,
          created_at,
          updated_at,
          recipients_count,
          signed_count,
        ]
      properties:
        id:
          type: string
          description: Unique document identifier
        public_id:
          type: string
          description: >
            Cross-surface document id — reviews, revisions, and the session
            API key on this value. Either `id` or `public_id` is accepted
            wherever a document identifier is required.
        title:
          type: string
        description:
          type: string
        status:
          $ref: "#/components/schemas/DocumentStatus"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        recipients_count:
          type: integer
          description: Total number of recipients
        signed_count:
          type: integer
          description: Number of recipients who have completed their action
        deadline:
          type: string
          format: date-time
          description: Signing deadline
        download_url:
          type: string
          format: uri
          description: Pre-signed URL to download the document PDF
        folder_id:
          type: string
          nullable: true
          description: Public folder ID this document belongs to, or null if unfiled
        recipients:
          type: array
          items:
            $ref: "#/components/schemas/Recipient"
          description: Recipient list (only included when include_recipients=true)

    InteractionSession:
      type: object
      description: |
        Vortex human-handoff object (ADR-004). Agents open/show `url` and poll
        until `status` is terminal. Seal signing is the first producer.
      required: [id, kind, status, message, poll]
      properties:
        id:
          type: string
          description: Stable session id (e.g. sign:{document_id})
        kind:
          type: string
          description: Interaction kind (sign, approve, unlock, pay, …)
        url:
          type: string
          format: uri
          nullable: true
          description: Temporary human page; null if not available yet
        status:
          type: string
          enum: [pending, completed, cancelled, declined, expired]
        expires_at:
          type: string
          format: date-time
          nullable: true
        message:
          type: string
          description: One-line instruction for the host/human
        poll:
          type: object
          required: [path, interval_ms]
          properties:
            path:
              type: string
            interval_ms:
              type: integer
        result:
          type: object
          properties:
            document_id: { type: string }
            document_status: { type: string }
            title: { type: string, nullable: true }

    Recipient:
      type: object
      required: [id, email, name, role, status]
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          $ref: "#/components/schemas/RecipientRole"
        status:
          $ref: "#/components/schemas/RecipientStatus"
        order:
          type: integer
          description: Position in sequential signing order
        signed_at:
          type: string
          format: date-time
        viewed_at:
          type: string
          format: date-time
        declined_at:
          type: string
          format: date-time
        decline_reason:
          type: string

    Template:
      type: object
      required: [id, name, status, created_at, updated_at, use_count]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          $ref: "#/components/schemas/TemplateStatus"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        use_count:
          type: integer
          description: Number of documents created from this template
        field_count:
          type: integer

    TemplateField:
      type: object
      required: [id, field_type, is_required, page, x, y, width, height]
      properties:
        id:
          type: string
        field_type:
          $ref: "#/components/schemas/FieldType"
        label:
          type: string
        is_required:
          type: boolean
        page:
          type: integer
          description: Page number (1-indexed)
        x:
          type: number
          description: X position as a fraction of page width (0–1)
        y:
          type: number
          description: Y position as a fraction of page height (0–1)
        width:
          type: number
          description: Width as a fraction of page width (0–1)
        height:
          type: number
          description: Height as a fraction of page height (0–1)
        properties:
          type: object
          description: >
            Free-form field properties. Use `binding_key` to bind a fillable
            field to an external proposal/deal key (programmatic sync instead
            of agentic OCR reconstruction — see GitHub #604).
          properties:
            placeholder:
              type: string
            default_value:
              type: string
            options:
              type: array
              items:
                type: string
            binding_key:
              type: string
              description: >
                External structured-data key (e.g. a Vortex Payments proposal
                field). When set, agents/integrations write this field from the
                bound source instead of guessing via OCR.

    Signature:
      type: object
      required:
        [id, field_id, recipient_id, document_id, signature_method, signed_at]
      properties:
        id:
          type: string
        field_id:
          type: string
        recipient_id:
          type: string
        document_id:
          type: string
        signature_method:
          $ref: "#/components/schemas/SignatureMethod"
        signed_at:
          type: string
          format: date-time
        signature_image_url:
          type: string
          format: uri
        signature_hash:
          type: string
          description: SHA-256 hash of the signature data
        ip_address:
          type: string
        user_agent:
          type: string

    AuditEntry:
      type: object
      required: [id, event_type, timestamp]
      properties:
        id:
          type: string
        event_type:
          type: string
          description: >
            Dot-separated action identifier, e.g. `document.viewed`,
            `recipient.signed`, `document.completed`
        actor_email:
          type: string
          format: email
        actor_name:
          type: string
        timestamp:
          type: string
          format: date-time
        ip_address:
          type: string
        user_agent:
          type: string
        details:
          type: object
          additionalProperties: true

    VerificationResult:
      type: object
      required: [is_valid, document_hash, signatures, verification_timestamp]
      properties:
        is_valid:
          type: boolean
          description: True if all signatures are cryptographically valid
        document_hash:
          type: string
          description: SHA-256 hash of the current document
        verification_timestamp:
          type: string
          format: date-time
        signatures:
          type: array
          items:
            type: object
            required: [id, recipient_email, is_valid, signed_at, signature_hash]
            properties:
              id:
                type: string
              recipient_email:
                type: string
                format: email
              is_valid:
                type: boolean
              signed_at:
                type: string
                format: date-time
              signature_hash:
                type: string

    PaginatedDocuments:
      type: object
      required: [data, has_more]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Document"
        has_more:
          type: boolean
        next_cursor:
          type: string

    PaginatedTemplates:
      type: object
      required: [data, has_more]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Template"
        has_more:
          type: boolean
        next_cursor:
          type: string

    ContactStatus:
      type: string
      enum: [active, inactive, lead]

    Contact:
      type: object
      required:
        [
          id,
          first_name,
          last_name,
          full_name,
          email,
          status,
          created_at,
          updated_at,
        ]
      properties:
        id: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        full_name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        company: { type: string }
        title: { type: string }
        status: { $ref: "#/components/schemas/ContactStatus" }
        notes: { type: string }
        tags:
          type: array
          items: { type: string }
        last_contacted_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    PaginatedContacts:
      type: object
      required: [data, has_more]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Contact" }
        has_more: { type: boolean }
        next_cursor: { type: string }

    Folder:
      type: object
      required:
        [id, name, type, parent_id, visibility, pinned, created_at, updated_at]
      properties:
        id: { type: string }
        name: { type: string }
        type:
          type: string
          enum: [document, template]
        parent_id:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [everyone, members, restricted]
        pinned: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ReviewFlag:
      type: string
      enum: [green, amber, red, grey]

    ReviewCellStatus:
      type: string
      enum: [pending, generating, done, error]

    ReviewCitation:
      type: object
      required: [documentId, quote]
      properties:
        documentId: { type: string }
        page:
          type: integer
          minimum: 1
          description: Page the quote was located on (best-effort)
        bbox:
          type: object
          description: Normalized 0–1 page geometry of the quoted span
          properties:
            x: { type: number }
            y: { type: number }
            width: { type: number }
            height: { type: number }
        quote:
          type: string
          description: Contiguous excerpt from the document, or the literal `not_found`

    ReviewPack:
      type: object
      required: [id, title, columns, builtin, created_at]
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        columns:
          type: array
          items: { $ref: "#/components/schemas/ReviewColumn" }
        builtin:
          type: boolean
          description: true for Vortex-authored packs shipped with the build
        created_at: { type: string, format: date-time }

    Revision:
      type: object
      required:
        [id, document_id, kind, status, anchor_quote, created_by, created_at]
      properties:
        id: { type: string }
        document_id: { type: string }
        review_cell_id: { type: string, nullable: true }
        kind: { type: string, enum: [insert, delete, replace] }
        status: { type: string, enum: [pending, accepted, rejected] }
        anchor_quote: { type: string }
        anchor_page: { type: integer, nullable: true }
        anchor_bbox:
          type: object
          nullable: true
          properties:
            x: { type: number }
            y: { type: number }
            width: { type: number }
            height: { type: number }
        proposed_text: { type: string, nullable: true }
        rationale: { type: string, nullable: true }
        derived_document_id: { type: string, nullable: true }
        created_by: { type: string }
        created_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }

    ReviewColumn:
      type: object
      required: [index, name, prompt]
      properties:
        index: { type: integer, minimum: 0 }
        name: { type: string, maxLength: 120 }
        prompt: { type: string, maxLength: 4000 }

    ReviewCell:
      type: object
      required:
        [id, row_id, column_index, status, summary, flag, reasoning, citations]
      properties:
        id: { type: string }
        row_id: { type: string }
        column_index: { type: integer, minimum: 0 }
        status: { $ref: "#/components/schemas/ReviewCellStatus" }
        summary: { type: string, nullable: true }
        flag:
          allOf:
            - { $ref: "#/components/schemas/ReviewFlag" }
          nullable: true
        reasoning: { type: string, nullable: true }
        citations:
          type: array
          items: { $ref: "#/components/schemas/ReviewCitation" }

    ReviewRow:
      type: object
      required: [id, document_id, cells]
      properties:
        id: { type: string }
        document_id:
          type: string
          description: Document public ID
        cells:
          type: array
          items: { $ref: "#/components/schemas/ReviewCell" }

    ReviewMatrix:
      type: object
      required: [id, title, status, columns, rows, created_at, updated_at]
      properties:
        id: { type: string }
        title: { type: string }
        status: { type: string }
        columns:
          type: array
          items: { $ref: "#/components/schemas/ReviewColumn" }
        rows:
          type: array
          items: { $ref: "#/components/schemas/ReviewRow" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Job:
      type: object
      required: [id, type, status, created_at]
      properties:
        id: { type: string }
        type:
          type: string
          description: Job type key
        status:
          type: string
          enum: [queued, running, done, error]
        error: { type: string, nullable: true }
        result: { type: object, nullable: true }
        created_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }

    ImportJob:
      type: object
      required:
        [
          id,
          adapter,
          status,
          payload,
          processed_count,
          created_by,
          created_at,
          updated_at,
        ]
      properties:
        id: { type: string }
        adapter:
          type: string
          enum: [pdf, docusign, pandadoc]
        status: { type: string }
        payload: {}
        processed_count: { type: integer }
        total_count:
          type: integer
          nullable: true
        cursor:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
        approved_by:
          type: string
          nullable: true
        approved_at:
          type: string
          format: date-time
          nullable: true
        created_by: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    WebhookStatus:
      type: string
      enum: [active, paused, disabled]

    WebhookEndpoint:
      type: object
      required:
        [
          id,
          name,
          url,
          status,
          events,
          secret_prefix,
          created_at,
          updated_at,
          stats,
        ]
      properties:
        id: { type: string }
        name: { type: string }
        url: { type: string, format: uri }
        status: { $ref: "#/components/schemas/WebhookStatus" }
        events:
          type: array
          items: { type: string }
        description: { type: string }
        secret_prefix: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        stats:
          type: object
          required: [total_deliveries, successful, failed, success_rate]
          properties:
            total_deliveries: { type: integer }
            successful: { type: integer }
            failed: { type: integer }
            success_rate: { type: number }

    WebhookEventType:
      type: object
      required: [type, category, description]
      properties:
        type: { type: string }
        category: { type: string }
        description: { type: string }

    MemberRole:
      type: string
      enum: [owner, admin, member, viewer]

    Member:
      type: object
      required: [id, user_id, name, email, role, status, joined_at]
      properties:
        id: { type: string }
        user_id: { type: string }
        name: { type: string }
        email: { type: string, format: email }
        avatar_url: { type: string, format: uri }
        role: { $ref: "#/components/schemas/MemberRole" }
        status: { type: string }
        joined_at: { type: string, format: date-time }

    Settings:
      type: object
      required: [signing, notifications, ai, egress, security]
      properties:
        signing:
          type: object
          required:
            [allowed_signature_types, default_deadline_days, esign_consent_text]
          properties:
            allowed_signature_types:
              type: array
              items: { type: string, enum: [draw, type, upload] }
            default_deadline_days: { type: integer }
            esign_consent_text: { type: string, nullable: true }
        notifications:
          type: object
          required:
            [
              reminder_schedule,
              expiration_alert_days,
              send_completion_email,
              send_viewed_notification,
            ]
          properties:
            reminder_schedule:
              type: array
              items: { type: integer }
            expiration_alert_days: { type: integer }
            send_completion_email: { type: boolean }
            send_viewed_notification: { type: boolean }
        ai:
          type: object
          required: [enabled, auto_analyze]
          properties:
            enabled:
              type: boolean
              description: >
                Org kill switch for document-processing features (field
                suggestions, text extraction via anydoc). Deterministic
                enrichment only — Seal runs no hosted model. When false,
                those routes return 403 `ai_disabled` (SEA-70).
            auto_analyze: { type: boolean }
        egress:
          type: object
          required: [webhook_payload_mode, allow_convert]
          description: Sensitive egress gates (SEA-70)
          properties:
            webhook_payload_mode:
              type: string
              enum: [full, minimal]
              description: >
                `full` (default) includes emails/names/titles in webhook `data`.
                `minimal` keeps ids, status, timestamps, and counts only.
            allow_convert:
              type: boolean
              description: >
                When false, Office→PDF convert worker calls return 403
                `convert_disabled`.
        security:
          type: object
          required:
            [
              ip_allowlist,
              allow_api_access,
              require_mfa,
              session_timeout_minutes,
            ]
          properties:
            ip_allowlist:
              type: array
              items: { type: string }
            allow_api_access: { type: boolean }
            require_mfa: { type: boolean }
            session_timeout_minutes: { type: integer, nullable: true }

    AccountInfo:
      type: object
      required: [name, slug, type, timezone, status, members, documents]
      properties:
        name: { type: string }
        slug: { type: string }
        type: { type: string, enum: [personal, group, company] }
        timezone: { type: string }
        status: { type: string, enum: [active, suspended, deleted] }
        members:
          type: object
          additionalProperties: true
        documents:
          type: object
          additionalProperties: true
        signing_settings:
          type: object
          additionalProperties: true
        ai_enabled: { type: boolean }

    Analytics:
      type: object
      required: [period, documents, workspace_snapshot]
      properties:
        period:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        documents:
          type: object
          additionalProperties: true
        workspace_snapshot:
          type: object
          additionalProperties: true

    AuditLogEntry:
      type: object
      required: [id, event_type, timestamp]
      properties:
        id: { type: string }
        event_type: { type: string }
        actor_email: { type: string }
        actor_name: { type: string }
        timestamp: { type: string, format: date-time }
        ip_address: { type: string }
        user_agent: { type: string }
        details:
          type: object
          additionalProperties: true

    DocumentSharingMode:
      type: string
      enum: [private, workspace, specific]

    DocumentAccess:
      type: object
      required: [sharing_mode]
      properties:
        sharing_mode: { $ref: "#/components/schemas/DocumentSharingMode" }

    BulkOperationSummary:
      type: object
      required: [succeeded, failed]
      properties:
        succeeded: { type: integer }
        failed: { type: integer }
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    SearchHit:
      type: object
      additionalProperties: true
      description: Search result row (document, contact, or template)

    ApiTokenScope:
      type: string
      enum: [read, write, sign, admin]

    ApiToken:
      type: object
      required: [id, publicId, name, scopes, createdAt]
      properties:
        id: { type: string }
        publicId: { type: string }
        name: { type: string }
        scopes:
          type: array
          items: { $ref: "#/components/schemas/ApiTokenScope" }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        token:
          type: string
          description: Full secret — only returned once on create

    Error:
      type: object
      required: [type, status, title]
      properties:
        type:
          type: string
          description: Machine-readable error code
          example: VALIDATION_ERROR
        status:
          type: integer
          description: HTTP status code
          example: 400
        title:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Field-level validation errors

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            type: AUTH_ERROR
            status: 401
            title: Missing or invalid API key
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            type: NOT_FOUND
            status: 404
            title: Document not found
    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            type: VALIDATION_ERROR
            status: 400
            title: Validation failed
            details:
              email: [Must be a valid email address]

tags:
  - name: Documents
    description: Create, manage, and send documents for signing
  - name: Recipients
    description: Manage the people who sign or review a document
  - name: Templates
    description: Reusable document layouts that speed up your workflow
  - name: Signatures
    description: Access signature data and verify document integrity
  - name: Uploads
    description: Upload PDF files for use with the Documents API
  - name: Contacts
    description: Workspace contact directory for recipients
  - name: Folders
    description: Organize documents and templates into folders
  - name: Reviews
    description: >
      Legal review matrices (ADR-006) — tabular extraction over documents with
      citation-grounded cells. Agent/MCP first; no fat review UI.
  - name: Imports
    description: Import jobs from PDF batches or external e-sign providers
  - name: Webhooks
    description: Receive real-time events when document state changes
  - name: Members
    description: Organization membership roster
  - name: Settings
    description: Organization signing and notification settings
  - name: Account
    description: Organization account summary
  - name: Analytics
    description: Signing funnel metrics for a time period
  - name: Audit
    description: Workspace activity / audit log
  - name: Search
    description: Cross-resource search across documents, contacts, and templates
  - name: Tokens
    description: Workspace-scoped API tokens (create / list / revoke)

paths:
  # ──────────────────────────────────────────────────────────────────────────
  # Documents
  # ──────────────────────────────────────────────────────────────────────────

  /documents:
    get:
      tags: [Documents]
      operationId: listDocuments
      summary: List documents
      description: >
        Returns a paginated list of documents in your organization. Use the
        `next_cursor` from the response to fetch the next page.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of results per page
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor from the previous response
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DocumentStatus"
          description: Filter documents by status
        - name: folder_id
          in: query
          schema:
            type: string
          description: >
            Filter by folder public ID. Pass an empty string to list unfiled
            documents only.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDocuments"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Documents]
      operationId: createDocument
      summary: Create a document
      description: >
        Creates a new document in `draft` status. You must first upload the PDF
        with the Uploads API to obtain a `storage_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, storage_id, file_size]
              properties:
                title:
                  type: string
                  description: Document title displayed to recipients
                description:
                  type: string
                storage_id:
                  type: string
                  description: Storage ID returned by the Uploads API
                file_size:
                  type: integer
                  description: File size in bytes
                file_type:
                  type: string
                  default: application/pdf
                page_count:
                  type: integer
                  description: Number of pages in the document
                deadline:
                  type: string
                  format: date-time
                  description: Signing deadline — recipients cannot sign after this date
                folder_id:
                  type: string
                  nullable: true
                  description: Public folder ID to file this document under
            example:
              title: Service Agreement Q1 2026
              storage_id: kg2a7b3c8d9e0f1a2b3c
              file_size: 245760
              page_count: 3
      responses:
        "200":
          description: Document created
          content:
            application/json:
              schema:
                type: object
                required: [id]
                properties:
                  id:
                    type: string
              example:
                id: j572a8b1c2d3e4f5a6b7
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /documents/get:
    get:
      tags: [Documents]
      operationId: getDocument
      summary: Get a document
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Document ID
        - name: include_recipients
          in: query
          schema:
            type: boolean
            default: false
          description: Include recipient list in response
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/interaction:
    get:
      tags: [Documents]
      operationId: getDocumentInteraction
      summary: Get InteractionSession for a document (human handoff)
      description: |
        Returns a Vortex InteractionSession for signing (ADR-004 / SEA-61).
        Agents show or open `url`, then poll this endpoint until `status` is
        not `pending`. Never forge the human signature. Requires
        `documents:write` to include `url` (signing link).
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Document ID
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/update:
    post:
      tags: [Documents]
      deprecated: true
      summary: Update a document (legacy alias — use PUT)
      responses:
        "200": { description: Updated }
    put:
      tags: [Documents]
      operationId: updateDocument
      summary: Update a document
      description: Updates document metadata. Only works for `draft` documents.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                deadline:
                  type: string
                  format: date-time
                folder_id:
                  type: string
                  nullable: true
                  description: Move document into this folder, or null to unfile
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/delete:
    post:
      tags: [Documents]
      deprecated: true
      summary: Delete a document (legacy alias — use DELETE)
      responses:
        "200": { description: Deleted }
    delete:
      tags: [Documents]
      operationId: deleteDocument
      summary: Delete a document
      description: >
        Permanently deletes a draft document. For sent documents, use
        `POST /documents/void` instead.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/apply-bindings:
    post:
      tags: [Documents]
      operationId: applyDocumentBindings
      summary: Apply structured values by binding_key
      description: >
        For each document field with `properties.binding_key`, set
        `default_value` from the provided map. Draft documents only. This is
        the Seal-side of proposal→document sync (GitHub #604) without OCR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, bindings]
              properties:
                id: { type: string }
                bindings:
                  type: object
                  additionalProperties: { type: string }
      responses:
        "200":
          description: Applied
          content:
            application/json:
              schema:
                type: object
                required: [updated, unmatched_keys]
                properties:
                  updated: { type: integer }
                  unmatched_keys:
                    type: array
                    items: { type: string }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/fields:
    get:
      tags: [Documents]
      operationId: listDocumentFields
      summary: List document fields (with binding_key)
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Fields
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Documents]
      operationId: createDocumentField
      summary: Create a document field (percent-of-page geometry)
      description: >
        Place a signature or data field on a draft document. Coordinates are
        percent-of-page (0–100), matching the web editor. Optional `binding_key`
        enables later `POST /documents/apply-bindings`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, field_type, label, page, x, y, width, height]
              properties:
                id: { type: string }
                field_type:
                  type: string
                  enum:
                    [
                      signature,
                      free_signature,
                      initials,
                      name,
                      email,
                      text,
                      number,
                      date,
                      date_signed,
                      checkbox,
                      dropdown,
                      radio,
                      multi_select,
                      attachment,
                      image,
                      payment,
                      phone,
                      cells,
                      stamp,
                      heading,
                      strikethrough,
                      verification,
                      kba,
                    ]
                label: { type: string }
                is_required: { type: boolean }
                page: { type: integer }
                x: { type: number }
                y: { type: number }
                width: { type: number }
                height: { type: number }
                recipient_id: { type: string }
                binding_key: { type: string }
                properties: { type: object, additionalProperties: true }
      responses:
        "201":
          description: Created
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/fields/update:
    put:
      tags: [Documents]
      operationId: updateDocumentField
      summary: Update a document field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, field_id]
              properties:
                id: { type: string }
                field_id: { type: string }
                label: { type: string }
                is_required: { type: boolean }
                page: { type: integer }
                x: { type: number }
                y: { type: number }
                width: { type: number }
                height: { type: number }
                recipient_id: { type: string, nullable: true }
                binding_key: { type: string, nullable: true }
                properties: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/fields/delete:
    post:
      tags: [Documents]
      operationId: deleteDocumentField
      summary: Delete a document field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, field_id]
              properties:
                id: { type: string }
                field_id: { type: string }
      responses:
        "200":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/place-candidates:
    post:
      tags: [Documents]
      operationId: placeDocumentFieldCandidates
      summary: Place fields from detected field_candidates
      description: >
        Creates signature fields from anydoc field_candidates (with suggested
        bounding boxes). Agents use this instead of a UI click loop.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                indices:
                  type: array
                  items: { type: integer }
                recipient_id: { type: string }
      responses:
        "200":
          description: Placed
          content:
            application/json:
              schema:
                type: object
                required: [fieldIds, count]
                properties:
                  fieldIds:
                    type: array
                    items: { type: string }
                  count: { type: integer }
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/field-suggestions:
    get:
      tags: [Documents]
      operationId: getDocumentFieldSuggestions
      summary: Get pending field suggestions with bounding boxes
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Suggestions or null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/field-suggestions/apply:
    post:
      tags: [Documents]
      operationId: applyDocumentFieldSuggestions
      summary: Apply field suggestions onto a draft document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, suggestion_id]
              properties:
                id: { type: string }
                suggestion_id: { type: string }
                selected_indices:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: Applied
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/annotations:
    get:
      tags: [Documents]
      operationId: getDocumentAnnotations
      summary: Get bbox citation annotations for contract review
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200": { description: Annotations or null }
        "401":
          $ref: "#/components/responses/Unauthorized"
  /documents/annotations/generate:
    post:
      tags: [Documents]
      operationId: generateDocumentAnnotations
      summary: Generate bbox citations from parsed text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
      responses:
        "200": { description: Generated }
  /documents/annotations/dismiss:
    post:
      tags: [Documents]
      operationId: dismissDocumentAnnotations
      summary: Dismiss active annotations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
      responses:
        "200": { description: Dismissed }
  /documents/preview:
    get:
      tags: [Documents]
      operationId: previewDocument
      summary: Agent preview (markdown, structured, chunks, pdf, or original office/CSV)
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
        - name: format
          in: query
          schema:
            type: string
            enum: [markdown, structured, chunks, pdf, original]
            description: >
              `chunks` returns per-line text with {page, bbox} anchors —
              the citation/redline targeting substrate.
      responses:
        "200": { description: Preview payload }
  /documents/split:
    post:
      tags: [Documents]
      operationId: splitDocument
      summary: Split a draft PDF into child documents by page ranges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, splits]
              properties:
                id: { type: string }
                splits:
                  type: array
                  items:
                    type: object
                    required: [title, pages]
                    properties:
                      title: { type: string }
                      pages:
                        type: array
                        items: { type: integer }
      responses:
        "201": { description: Child documents created }
  /documents/pdf/annotate:
    post:
      tags: [Documents]
      operationId: annotateDocumentPdf
      summary: Bake highlight/text/rect/redact ops onto a draft PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, operations]
              properties:
                id: { type: string }
                operations:
                  type: array
                  items:
                    type: object
                    required: [op, page]
                    properties:
                      op:
                        type: string
                        enum: [highlight, text, rect, redact]
                      page: { type: integer }
                      x: { type: number }
                      y: { type: number }
                      width: { type: number }
                      height: { type: number }
                      text: { type: string }
                      size: { type: number }
                      color: { type: string }
      responses:
        "200": { description: Annotated }
  /documents/pdf/organize:
    post:
      tags: [Documents]
      operationId: organizeDocumentPdf
      summary: Reorder or delete pages of a draft PDF in place
      description: >
        Rebuilds the draft PDF from an ordered list of 1-based source page
        numbers. Omit a page to delete it; permute to reorder. Signature fields
        on deleted pages are removed; survivors are remapped to the new page
        indices. Does not create child documents (use `/documents/split` for that).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, pages]
              properties:
                id: { type: string }
                pages:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items: { type: integer, minimum: 1 }
                  description: New page order using original 1-based page numbers
      responses:
        "200":
          description: Organized
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  fields_removed: { type: integer }
                  fields_remapped: { type: integer }
        "400":
          description: Invalid page order (empty, duplicate, or out of range)
  /documents/pdf/watermark:
    post:
      tags: [Documents]
      operationId: watermarkDocumentPdf
      summary: Stamp a text watermark onto a draft PDF
      description: >
        Draws a Helvetica-bold text stamp on selected pages (default: all).
        Positions: diagonal (default), center, or footer. Deterministic pdf-lib
        — no Seal-hosted model inference.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, text]
              properties:
                id: { type: string }
                text: { type: string, maxLength: 120 }
                opacity: { type: number, minimum: 0.05, maximum: 1 }
                position:
                  type: string
                  enum: [diagonal, center, footer]
                color: { type: string, description: "Hex color, e.g. #888888" }
                size: { type: number, minimum: 6, maximum: 120 }
                pages:
                  type: array
                  items: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Watermarked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
  /documents/pdf/number-pages:
    post:
      tags: [Documents]
      operationId: numberDocumentPdfPages
      summary: Stamp page numbers onto a draft PDF
      description: >
        Footer page numbers via pdf-lib. Format `n` or `n_of_m` (default).
        Optional prefix (e.g. "Page ").
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                format:
                  type: string
                  enum: [n, n_of_m]
                position:
                  type: string
                  enum: [footer-center, footer-right, footer-left]
                start_at: { type: integer, minimum: 0 }
                prefix: { type: string, maxLength: 40 }
                size: { type: number, minimum: 6, maximum: 48 }
                color: { type: string }
                pages:
                  type: array
                  items: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Numbered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
  /documents/pdf/crop:
    post:
      tags: [Documents]
      operationId: cropDocumentPdf
      summary: Crop pages of a draft PDF (baked into new page size)
      description: >
        For each listed page, keep only the top-left percent-of-page rect
        (`x`,`y`,`width`,`height` in 0–100 — same space as fields). Content is
        baked into a smaller page via pdf-lib. Fields fully inside the crop are
        remapped; fields that intersect the cut edge are removed. Unlisted pages
        are copied unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, crops]
              properties:
                id: { type: string }
                crops:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    required: [page, x, y, width, height]
                    properties:
                      page: { type: integer, minimum: 1 }
                      x: { type: number, minimum: 0, maximum: 100 }
                      y: { type: number, minimum: 0, maximum: 100 }
                      width: { type: number, minimum: 1, maximum: 100 }
                      height: { type: number, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: Cropped
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  fields_removed: { type: integer }
                  fields_remapped: { type: integer }
        "400":
          description: Invalid crop rect or page

  /documents/pdf/compress:
    post:
      tags: [Documents]
      operationId: compressDocumentPdf
      summary: Compress a draft PDF in place
      description: >
        Re-encodes embedded images to JPEG via the convert-worker PDF engines
        (qpdf/pdfcpu — not Seal AI). Text, vectors, fonts, and structure are
        untouched; the engine never enlarges the file. Fields are unaffected.
        Honours the org `egress.allow_convert` gate since bytes leave the API
        worker for the conversion container.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                image_quality:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: JPEG quality for re-encoded images (default 80)
      responses:
        "200":
          description: Compressed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  size_before: { type: integer }
                  size_after: { type: integer }
        "403":
          description: Org egress disallows conversion

  /documents/pdf/redact:
    post:
      tags: [Documents]
      operationId: redactDocumentPdf
      summary: Permanently redact regions of a draft PDF
      description: >
        Removes content-stream operators inside each region — text runs,
        images, fully-contained vector paths, and annotations are deleted
        from the emitted bytes (not just painted over). Signature fields
        intersecting a region are removed. Document metadata is purged.
        Response includes a redaction receipt (`scrubbed_text`) listing the
        literal strings that were removed. Percent rects share the same
        0–100 space as signature fields. Deterministic in-worker engine —
        not Seal AI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, regions]
              properties:
                id: { type: string }
                regions:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [page, x, y, width, height]
                    properties:
                      page: { type: integer, minimum: 1 }
                      x: { type: number, minimum: 0, maximum: 100 }
                      y: { type: number, minimum: 0, maximum: 100 }
                      width: { type: number, minimum: 0.5, maximum: 100 }
                      height: { type: number, minimum: 0.5, maximum: 100 }
      responses:
        "200":
          description: Redacted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  regions_applied: { type: integer }
                  ops_scrubbed: { type: integer }
                  annots_scrubbed: { type: integer }
                  fields_removed: { type: integer }
                  scrubbed_text:
                    type: string
                    description: Strings removed from the bytes (receipt)
                  warnings:
                    type: array
                    items: { type: string }

  /documents/pdf/protect:
    post:
      tags: [Documents]
      operationId: protectDocumentPdf
      summary: Produce a password-protected copy of a draft PDF
      description: >
        Encrypts the PDF via convert-worker pdfengines (qpdf) and stores an
        encrypted artifact; `download_url` fetches it. The working draft
        stays unencrypted — Seal's own pipeline cannot read encrypted PDFs.
        Honours the org `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                user_password:
                  type: string
                  maxLength: 128
                  description: Password required to open the PDF
                owner_password:
                  type: string
                  maxLength: 128
                  description: Password granting full access (defaults to user)
                allow_printing: { type: boolean }
                allow_copying: { type: boolean }
                allow_modifying: { type: boolean }
                allow_annotating: { type: boolean }
                allow_filling_forms: { type: boolean }
                allow_assembling: { type: boolean }
      responses:
        "200":
          description: Protected copy created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  size: { type: integer }
                  download_url: { type: string, nullable: true }

  /documents/pdf/unlock:
    post:
      tags: [Documents]
      operationId: unlockDocumentPdf
      summary: Unlock an encrypted draft PDF in place
      description: >
        Decrypts a password-protected PDF via LibreOffice re-export and
        claims the usable bytes back onto the document (the draft was not
        readable by pdf-lib anyway). Returns `libreoffice_roundtrip` in
        `warnings` — layout may shift on complex documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, password]
              properties:
                id: { type: string }
                password: { type: string, maxLength: 128 }
      responses:
        "200":
          description: Unlocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  warnings:
                    type: array
                    items: { type: string }
        "400":
          description: not_encrypted / invalid_pdf / wrong password

  /documents/pdf/flatten:
    post:
      tags: [Documents]
      operationId: flattenDocumentPdf
      summary: Flatten annotations and form fields into page content
      description: >
        Runs pdfengines/flatten — annotation appearance streams and AcroForm
        values are baked into the page bytes. Seal signature fields live in
        the database and are unaffected. Honours the org
        `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
      responses:
        "200":
          description: Flattened
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }

  /documents/pdf/export-images:
    post:
      tags: [Documents]
      operationId: exportDocumentPdfImages
      summary: Export every page of a draft PDF as images
      description: >
        Rasterises each page via poppler (pdftoppm) in the pdf-tools
        container and returns a ZIP artifact (`page-N.png|jpg`) with a
        `download_url`. Artifact model — the working draft is unchanged.
        Honours the org `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                format:
                  type: string
                  enum: [png, jpeg]
                  default: png
                dpi:
                  type: number
                  minimum: 50
                  maximum: 600
                  default: 150
      responses:
        "200":
          description: Images ZIP created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  size: { type: integer }
                  format: { type: string }
                  dpi: { type: number }
                  download_url: { type: string, nullable: true }

  /documents/pdf/to-office:
    post:
      tags: [Documents]
      operationId: convertDocumentPdfToOffice
      summary: Convert a draft PDF to an Office format
      description: >
        Runs headless LibreOffice in the pdf-tools container and returns a
        docx/xlsx/pptx artifact with a `download_url`. Artifact model — the
        working draft is unchanged. Fidelity is layout-locked (PDF imports
        into Draw: text boxes, not flowing prose). Honours the org
        `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                format:
                  type: string
                  enum: [docx, xlsx, pptx]
                  default: docx
      responses:
        "200":
          description: Office file created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  format: { type: string }
                  size: { type: integer }
                  download_url: { type: string, nullable: true }

  /documents/pdf/ocr:
    post:
      tags: [Documents]
      operationId: ocrDocumentPdf
      summary: OCR a draft PDF (add a searchable text layer)
      description: >
        Runs ocrmypdf --skip-text in the pdf-tools container — pages that
        lack a text layer are OCR'd and existing text is preserved. The
        searchable PDF claims the document's storageKey. Honours the org
        `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                lang:
                  type: string
                  pattern: "^[a-z]{3}(\\+[a-z]{3})*$"
                  default: eng
                  description: Tesseract language code(s), e.g. eng or eng+fra
      responses:
        "200":
          description: OCR complete
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  lang: { type: string }

  /documents/pdf/compare:
    post:
      tags: [Documents]
      operationId: compareDocumentPdfs
      summary: Text-level compare of two draft PDFs
      description: >
        Extracts text from both documents (pdftotext -layout in the
        pdf-tools container) and returns a per-page line diff
        (added/removed). Read-only — no storage mutation. Honours the org
        `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, other_id]
              properties:
                id: { type: string }
                other_id: { type: string }
      responses:
        "200":
          description: Diff result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  document_a:
                    type: object
                    properties:
                      id: { type: string }
                      public_id: { type: string }
                      name: { type: string }
                  document_b:
                    type: object
                    properties:
                      id: { type: string }
                      public_id: { type: string }
                      name: { type: string }
                  pages_different: { type: integer }
                  lines_added: { type: integer }
                  lines_removed: { type: integer }
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        page: { type: integer }
                        added:
                          type: array
                          items: { type: string }
                        removed:
                          type: array
                          items: { type: string }

  /documents/pdf/to-pdfa:
    post:
      tags: [Documents]
      operationId: convertDocumentPdfToPdfA
      summary: Convert a draft PDF to archival PDF/A
      description: >
        Converts to a PDF/A flavour (1b/2b/3b) via Gotenberg
        pdfengines/convert. The archival PDF claims the document's
        storageKey. Honours the org `egress.allow_convert` gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: string }
                format:
                  type: string
                  enum: [PDF/A-1b, PDF/A-2b, PDF/A-3b]
                  default: PDF/A-2b
      responses:
        "200":
          description: Converted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  storage_id: { type: string }
                  page_count: { type: integer }
                  format: { type: string }

  /documents/pdf/merge:
    post:
      tags: [Documents]
      operationId: mergeDocumentPdfs
      summary: Merge multiple draft PDFs into a new document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  minItems: 2
                  maxItems: 20
                  items: { type: string }
                  description: Document public IDs, merged in order
                title: { type: string, maxLength: 200 }
      responses:
        "201":
          description: Merged document created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  id: { type: string }
                  public_id: { type: string }
                  storage_id: { type: string }
                  page_count: { type: integer }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/pdf/rotate:
    post:
      tags: [Documents]
      operationId: rotateDocumentPdf
      summary: Rotate pages of a draft PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, degrees]
              properties:
                id: { type: string }
                degrees: { type: integer, enum: [90, 180, 270] }
                pages:
                  type: array
                  items: { type: integer, minimum: 1 }
                  description: 1-based page list; omit for all pages
      responses:
        "200": { description: Rotated — new storage_id }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/pdf/replace:
    post:
      tags: [Documents]
      operationId: replaceDocumentPdf
      summary: Replace the working PDF of a draft (fields remapped)
      description: >
        Atomic swap of the document's PDF bytes — existing fields are
        remapped onto the new file where pages/geometry still line up.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, content_base64]
              properties:
                id: { type: string }
                content_base64:
                  type: string
                  description: Base64-encoded PDF
      responses:
        "200": { description: Replaced }
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/original/replace:
    post:
      tags: [Documents]
      operationId: replaceDocumentOriginal
      summary: Replace a draft's original file (office/CSV → re-converted PDF)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, content_base64, content_type]
              properties:
                id: { type: string }
                content_base64: { type: string }
                content_type:
                  type: string
                  description: Original MIME type (docx, xlsx, html, pdf, …)
      responses:
        "200": { description: Replaced — storage_id + content_type }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/layout-blocks:
    get:
      tags: [Documents]
      operationId: getDocumentLayoutBlocks
      summary: Layout blocks for field placement hints
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Layout blocks
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocks: { type: array, items: { type: object } }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/extraction-schema:
    get:
      tags: [Documents]
      operationId: getDocumentExtractionSchema
      summary: Get the structured-extraction schema for a document
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Schema object
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema: { type: object, additionalProperties: true }
    post:
      tags: [Documents]
      operationId: putDocumentExtractionSchema
      summary: Set the structured-extraction schema for a draft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, schema]
              properties:
                id: { type: string }
                schema: { type: object, additionalProperties: true }
      responses:
        "200": { description: Schema set }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/parsed:
    get:
      tags: [Documents]
      operationId: getDocumentParsed
      summary: Parsed text + field candidates for a document
      parameters:
        - name: id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200": { description: Parsed content }
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/download-file:
    get:
      tags: [Documents]
      operationId: downloadDocumentFile
      summary: Download file bytes via a download token
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: File bytes
          content:
            application/octet-stream: {}

  /documents/send:
    post:
      tags: [Documents]
      operationId: sendDocument
      summary: Send a document
      description: >
        Sends the document to all recipients and transitions it from `draft` to
        `sent`. The document must have at least one recipient.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Custom message included in the invitation email
      responses:
        "200":
          description: Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/void:
    post:
      tags: [Documents]
      operationId: voidDocument
      summary: Void a document
      description: >
        Cancels a document and notifies all recipients. Cannot void a document
        that is already `completed`.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  description: Reason for voiding the document
      responses:
        "200":
          description: Voided
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/download:
    get:
      tags: [Documents]
      operationId: downloadDocument
      summary: Get download URL
      description: >
        Returns a short-lived pre-signed URL to download the document. If the
        document is completed, this returns the signed PDF. Otherwise it returns
        the original uploaded file.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url:
                    type: string
                    format: uri
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/certificate:
    get:
      tags: [Documents]
      operationId: downloadCertificateOfCompletion
      summary: Download Certificate of Completion
      description: >
        Returns the Certificate of Completion PDF for a completed envelope
        (CompAI EVID-2 / SEA-50). Includes parties, emails, IPs, auth method,
        timestamps, document hash, and a verification URL. Only available when
        the document status is `completed`. Lazy-generates the PDF if missing.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Document id
      responses:
        "200":
          description: Certificate of Completion PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Object storage not configured

  # ──────────────────────────────────────────────────────────────────────────
  # Recipients
  # ──────────────────────────────────────────────────────────────────────────

  /recipients:
    get:
      tags: [Recipients]
      operationId: listRecipients
      summary: List recipients
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  recipients:
                    type: array
                    items:
                      $ref: "#/components/schemas/Recipient"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [Recipients]
      operationId: addRecipient
      summary: Add a recipient
      description: Adds a recipient to a draft document.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, name, role]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                role:
                  $ref: "#/components/schemas/RecipientRole"
                order:
                  type: integer
                  description: Signing order position for sequential workflows
                message:
                  type: string
                  description: Custom message for this recipient's invitation email
            example:
              email: jane@acme.com
              name: Jane Smith
              role: signer
              order: 1
      responses:
        "200":
          description: Recipient added
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /recipients/get:
    get:
      tags: [Recipients]
      operationId: getRecipient
      summary: Get a recipient
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /recipients/update:
    post:
      tags: [Recipients]
      deprecated: true
      summary: Update a recipient (legacy alias — use PUT)
      responses:
        "200": { description: Updated }
    put:
      tags: [Recipients]
      operationId: updateRecipient
      summary: Update a recipient
      description: Updates a recipient on a draft document.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  $ref: "#/components/schemas/RecipientRole"
                order:
                  type: integer
                message:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /recipients/delete:
    post:
      tags: [Recipients]
      deprecated: true
      summary: Delete a recipient (legacy alias — use DELETE)
      responses:
        "200": { description: Deleted }
    delete:
      tags: [Recipients]
      operationId: removeRecipient
      summary: Remove a recipient
      description: Removes a recipient from a draft document.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /recipients/remind:
    post:
      tags: [Recipients]
      operationId: sendReminder
      summary: Send a reminder
      description: >
        Sends a reminder email to a recipient who has not yet completed their
        action. Only works for `sent` or `in_progress` documents.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Custom reminder message
      responses:
        "200":
          description: Reminder sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────────────────────────────────
  # Templates
  # ──────────────────────────────────────────────────────────────────────────

  /templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List templates
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/TemplateStatus"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTemplates"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Templates]
      operationId: createTemplate
      summary: Create a template
      description: >
        Creates a reusable template from an existing completed document. The
        document's field layout is copied to the template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document_id, name]
              properties:
                document_id:
                  type: string
                  description: Source document ID to create the template from
                name:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /templates/get:
    get:
      tags: [Templates]
      operationId: getTemplate
      summary: Get a template
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
        - name: include_fields
          in: query
          schema:
            type: boolean
            default: false
          description: Include field definitions in response
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /templates/fields:
    get:
      tags: [Templates]
      operationId: getTemplateFields
      summary: Get template fields
      description: >
        Returns all field definitions for a template. Fields define where
        signatures, text inputs, and other data entry points are located on
        the document.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/TemplateField"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /templates/fields/update:
    put:
      tags: [Templates]
      operationId: updateTemplateField
      summary: Update a template field (including binding_key)
      description: >
        Patch label/required/properties on a template field. Set
        `properties.binding_key` to bind the field to an external proposal key
        (GitHub #604).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template_id, field_id]
              properties:
                template_id: { type: string }
                field_id: { type: string }
                label: { type: string }
                is_required: { type: boolean }
                properties:
                  type: object
                  properties:
                    placeholder: { type: string }
                    default_value: { type: string }
                    options:
                      type: array
                      items: { type: string }
                    binding_key: { type: string }
      responses:
        "200":
          description: Updated field
          content:
            application/json:
              schema:
                type: object
                properties:
                  field: { $ref: "#/components/schemas/TemplateField" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /templates/update:
    put:
      tags: [Templates]
      operationId: updateTemplate
      summary: Update a template
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                status:
                  $ref: "#/components/schemas/TemplateStatus"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /templates/delete:
    delete:
      tags: [Templates]
      operationId: deleteTemplate
      summary: Delete a template
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /templates/use:
    post:
      tags: [Templates]
      operationId: useTemplate
      summary: Create document from template
      description: >
        Creates a new draft document pre-populated with the template's field
        layout. Add recipients and send when ready.

        `id` is required as a **query** parameter (OpenAPI contract). For
        backwards compatibility the handler also accepts `id` in the JSON body.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Template id (preferred — matches this OpenAPI contract)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Deprecated alternate — prefer query `id` (SEA-65)
                title:
                  type: string
                  description: Title for the new document (defaults to template name)
                description:
                  type: string
      responses:
        "200":
          description: Document created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────────────────────────────────
  # Signatures
  # ──────────────────────────────────────────────────────────────────────────

  /signatures:
    get:
      tags: [Signatures]
      operationId: listSignatures
      summary: List signatures
      description: Returns all signatures collected for a document.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  signatures:
                    type: array
                    items:
                      $ref: "#/components/schemas/Signature"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /signatures/get:
    get:
      tags: [Signatures]
      operationId: getSignature
      summary: Get a signature
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Signature"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /signatures/verify:
    get:
      tags: [Signatures]
      operationId: verifyDocument
      summary: Verify document integrity
      description: >
        Verifies the cryptographic integrity of all signatures on a document.
        Returns whether the document has been tampered with since it was signed.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /signatures/audit:
    get:
      tags: [Signatures]
      operationId: getAuditTrail
      summary: Get audit trail
      description: >
        Returns the complete activity log for a document, including when it was
        viewed, signed, completed, and any other notable events.
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────────────────────────────────
  # Uploads
  # ──────────────────────────────────────────────────────────────────────────

  /uploads/generate-url:
    post:
      tags: [Uploads]
      operationId: generateUploadUrl
      summary: Generate upload URL
      description: >
        Returns a short-lived upload URL. `POST` the file bytes to that URL with
        the matching `Content-Type`. Accepted types: `application/pdf`, DOCX,
        XLSX, PPTX, CSV, HTML, PNG, and JPEG. Office/CSV convert via
        LibreOffice, HTML renders via Gotenberg's Chromium route, and PNG/JPEG
        pack into a one-page PDF in-worker via pdf-lib (no egress). The
        original is retained under an `originals/` key. Pass the returned
        `storageId` to `POST /documents`.
      responses:
        "200":
          description: Upload URL generated
          content:
            application/json:
              schema:
                type: object
                required: [upload_url]
                properties:
                  upload_url:
                    type: string
                    format: uri
                    description: Pre-signed URL — expires in 60 seconds
        "401":
          $ref: "#/components/responses/Unauthorized"

  /uploads:
    post:
      tags: [Uploads]
      operationId: uploadFile
      summary: Upload a document file
      description: >
        Upload file bytes to the URL from `POST /uploads/generate-url` (pass the
[...]
